.vscode/**
.vscode-test/**
.github/**
.husky/**
src/**
test/**
scripts/**
docs/**
out-test/**
coverage/**
node_modules/**
.gitignore
.editorconfig
.nvmrc
.prettierrc
.prettierignore
.yarnrc
eslint.config.*
vitest.config.*
**/tsconfig*.json
**/*.map
**/*.ts
*.vsix
